[submodule "alignment/profiler/vllm"]
	path = alignment/profiler/vllm
	url = https://github.com/pynterest83/vllm.git
	branch = servingstudio-alignment-v0.31.0
[submodule "alignment/profiler/sglang"]
	path = alignment/profiler/sglang
	url = https://github.com/serendipity-zk/sglang.git
	branch = vibesim-alignment
[submodule "alignment/load_generator/req-frontend"]
	path = alignment/load_generator/req-frontend
	url = https://github.com/uw-syfi/request-factory.git
	branch = glm52-tp4-streaming-fix
